html {
    scroll-behavior: smooth;
}

.main_body {
    margin: 0;
}

.background {
    margin: 0;
    height: 100vh;
    background-image: url("img/bgr.jpg");
    background-size: cover;
    background-position: bottom;
}

.main_container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Raleway';
    color: white;
    row-gap: 0;
}

.sakura {
    height: 64px;
    width: 64px;
}

.main_headline {
    font-size: 96px;
    font-weight: bold;
    margin: 0;
}

.under_headline {
    font-size: 24px;
}

header {
    height: 112px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-left: 160px;
    padding-right: 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Raleway';
    font-size: 24px;
}

.menu a {
    margin-left: 32px;
    color: white;
    text-decoration: none;
}

.menu a:hover {
    filter: drop-shadow(2px 4px 6px rgb(255, 255, 255));
}

.button_container {
    display: flex;
    align-items: center;
    background-color: brown;
    border: 2px solid white;
    color: white;
    border-radius: 5px;
    padding: 8px;
}

.second_headline {
    color: #9f0908;
    font-family: 'Raleway';
    font-size: 80px;
    font-weight: bold;
    padding-bottom: 8px;
    display: flex;
    justify-content: center;
    margin: 0;
}

.phone {
    height: 24px;
    width: 24px;
    padding-right: 5px;
}

.order_container {
    padding-top: 120px;
    padding-bottom: 120px;
    padding-left: 160px;
    padding-right: 160px;
}

.order_img {
    width: 128px;
    padding-bottom: 16px;
}

.order_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 56px;
}

.order_span {
    font-family: 'Economica';
    font-weight: bold;
    font-size: 56px;
    text-align: center;
}

.ramen_bgr {
    margin: 0;
    height: 100%;
    background-image: url("./img/desktop.jpg");
    background-size: cover;
    margin-bottom: 120px;
    /*background-position: bottom;*/
}

.ramen_menu {
    padding-top: 120px;
    padding-bottom: 120px;
    padding-left: 160px;
    padding-right: 160px;
}

.ramen_menu_l {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.ramen_menu_img {
    height: 352px;
    width: 352px;
    padding-right: 80px;
    padding-top: 56px;
}

.third_headline {
    font-family: 'Economica';
    font-size: 56px;
    font-weight: bold;
    margin: 0;
    padding-bottom: 16px;
}

.table_margin {
    padding-right: 200px;
    padding-bottom: 8px;
}

.table_style {
    font-family: 'Raleway';
    font-weight: bold;
    font-size: 32px;
    color: #675e54;
}

.ramen_menu_r {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.ramen_menu_img_l {
    height: 352px;
    width: 352px;
    padding-left: 80px;
    padding-top: 56px;
}

.location {
    font-family: 'Raleway';
    font-size: 24px;
}

.location_img {
    height: 30px;
    width: 30px;
    padding-right: 10px;
}

.location_menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.map {
    height: 100vh;
    width: 100%;
    padding-top: 64px;
}

footer {
    height: 144px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding-left: 160px;
    padding-right: 160px;
    align-items: center;
}

footer a {
    text-decoration: none;
}

.footer_img_l {
    height: 44px;
}

.footer_img_r {
    height: 40px;
    width: 40px;
    padding-left: 10px;
}

.footer_img_l_phone {
    display: none;
}

@media (max-width: 1100px) {
    header {
        padding-left: 16px;
        padding-right: 16px;
    }

    .menu_none {
        display: none;
    }

    .menu_tablet_phone {
        font-size: 20px;
    }

    .main_headline {
        font-size: 72px;
    }

    .under_headline {
        font-size: 20px;
    }

    .second_headline {
        font-size: 64px;
    }

    .order_container {
        padding-top: 96px;
        padding-bottom: 96px;
        padding-left: 16px;
        padding-right: 16px;
    }

    .order_img {
        width: 112px;
        padding-bottom: 8px;
    }

    .order_menu {
        padding-top: 48px;
    }

    .order_span {
        font-size: 32px;
    }

    .location {
        font-size: 20px;
    }

    .location_img {
        height: 25px;
        width: 25px;
    }

    .map {
        padding-top: 48px;
    }

    footer {
        padding-left: 16px;
        padding-right: 16px;
    }

}

@media (max-width: 1200px){

    .ramen_bgr {
        background-image: url("./img/tablet.jpg");
        margin-bottom: 96px;
    }

    .ramen_menu {
        padding-top: 96px;
        padding-bottom: 96px;
        padding-left: 16px;
        padding-right: 16px;
    }

    .ramen_menu_img {
        padding-right: 16px;
        padding-top: 32px;
    }

    .third_headline {
        font-size: 32px;
    }

    .table_margin {
        padding-right: 120px;
        padding-bottom: 8px;
    }

    .table_style {
        font-size: 24px;
    }

    .ramen_menu_img_l {
        padding-left: 16px;
        padding-top: 32px;
    }

}

@media (max-width: 600px) {

    .menu_tablet_phone {
        font-size: 16px;
    }

    .main_headline {
        font-size: 44px;
        text-align: center;
    }

    .under_headline {
        font-size: 16px;
    }

    .second_headline {
        font-size: 40px;
        text-align: center;
    }

    .order_container {
        padding-top: 72px;
        padding-bottom: 72px;
    }

    .order_menu {
        padding-top: 32px;
        width: 112px;
    }

    .menu {
        flex-direction: column;
    }

}

@media (max-width: 720px) {

    .ramen_bgr {
        background-image: url("./img/mobile.jpg");
        margin-bottom: 72px;
    }

    .ramen_menu {
        padding-top: 72px;
        padding-bottom: 72px;
        padding-left: 16px;
        padding-right: 16px;
    }

    .ramen_menu_img {
        padding-right: 16px;
        padding-top: 40px;
        padding-right: 0px;
    }

    .ramen_menu_img_l {
        padding-left: 0%;
    }

    .ramen_menu_l {
        flex-direction: column;
    }

    .ramen_menu_r {
        flex-direction: column-reverse;
    }

    .ramen_img_phone {
        padding-top: 32px;
    }

    .location {
        font-size: 16px;
    }

    .location_img {
        height: 20px;
        width: 20px;
    }

    footer {
        height: 86px;
    }
    
    .footer_img_l_phone {
        height: 40px;
    }
    
    .footer_img_r {
        height: 32px;
        width: 32px;
    }

}

@media screen and (max-width: 720px) {
    .footer_img_l {
        display: none;
    }
    .footer_img_l_phone {
        display: block;
        height: 40px;
    }
}